@model IEnumerable<FitHub.Web.Models.Domain.Category>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2><i class="bi bi-list-stars"></i> Categories List</h2>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Create New
        </a>
    </div>

    <div class="card shadow-sm p-3">
        <table id="categoriesTable" class="table table-striped table-hover border">
            <thead class="table-dark">
                <tr>
                    <th>Category Name</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            
                            <form asp-action="Delete" asp-route-id="@item.Id" id="form-@item.Id" class="d-inline">
                                <button type="button" class="btn btn-danger btn-sm"
                                        onclick="confirmDelete(() => document.getElementById('form-@item.Id').submit())">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#categoriesTable').DataTable({
               "responsive": true
            });
        });
    </script>
}